<!DOCTYPE html>
<html>
<head>
    <title>PM_System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="topbar">
    <div class="logo">PM_System</div>

    <div class="nav-links">
        <a href="{{ url_for('index') }}">Dashboard</a>
        <a href="{{ url_for('asset_master') }}">Asset Master</a>
        <a href="{{ url_for('pm_attendance') }}">PM Attendance</a>
        <a href="{{ url_for('attendance_history') }}">History</a>
        <a href="{{ url_for('event_add') }}">Log Event</a>
    </div>

    <div class="user-box">
        {{ session.user }}
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="card" style="background:#e7f6ec;color:#166534;">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
